<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Accueil</title>
</head>

<div class="container-fluid container">

<div th:include="nav" />


    </br>
    <a href="/projects">Tous les projets</a> </br>
    <a href="/upload">Charger un fichier</a> </br>
    <a href="/projects/form">Nouveau projet</a> </br>
    <a href="/settings">Paramètres</a> </br>
    <a href="/sign">Inscription/Enregistrement</a> </br>
</div>
</html>