<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:include="nav" />

<form method="post">
    <fieldset>
        <label>Entrer un nom de catégorie</label>
        <input type="text" name="category" />
        <input type="submit" value="Enregistrer"/>
    </fieldset>
</form>

<div th:text="${message}"/>

</body>
</html>